html{
  font-size: 62.5%;
  box-sizing: border-box;

  body, #root{
    height: 100vh;
    margin: 0;
    .container{
      display: grid;
      grid-template-areas: 'header' 'main' 'footer';
      grid-template-rows: 5rem 1fr 5rem;
      grid-template-columns: 1fr;
      height: 100%;
    }
  }

  body, input, select, textarea {
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }
}