@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
.loginCnt{
    height: 100%;
    background: rgb(36,0,18);
    background: radial-gradient(circle, rgba(36,0,18,1) 0%, rgba(103,9,121,1) 40%, rgba(0,125,255,1) 100%);
    .loginBox{
        font-family: 'Libre Baskerville', serif;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40rem;
        padding: 4rem;
        transform: translate(-50%, -50%);
        background: rgba(0,0,0,.7);
        box-sizing: border-box;
        box-shadow: 0 .5rem 2rem rgba(102, 102, 102, 0.6);
        border-radius: 1rem;
        h2{
            margin: 0 0 30px;
            padding: 0;
            text-align: center;
            color: #ffffff;
        }
        .extras{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            p{
                color: #fff;
                text-align: center;
            }
            .link{
                text-decoration: none;
                p{
                    width: 100%;
                    color: black;
                    background-color: #cccccc;
                    border-radius: 2rem;
                    padding: .5rem;
                    &:hover{
                        background-color: rgb(0, 85, 57);
                        color: #fff;
                        transition: 500ms;
                    }
                }
            }
        }
        .user-box{
            position: relative;
            input{
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
                &:valid ~ label{
                    top: -20px;
                    left: 0;
                    color: #03e9f4;
                    background: transparent;
                    font-size: 12px;
                }
            }
            label{
                position: absolute;
                top:0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                pointer-events: none;
                transition: .5s;
            }
        }
        .loginSubmit{
            margin-top: 1rem;
            width: 100%;
            border-radius: .5rem;
            background-color:  rgba(103,9,121,1);
            border: 0;
            padding: .7rem;
            color: #fff;
            cursor: pointer;
            &:hover{
                box-shadow: 0 .3rem 2rem rgba(77, 77, 77, 0.6);
                color: #e3e3e3;
                transition: 300ms;
            }
            &:disabled{
                background-color: #3e3e3e;
                color: #cccccc;
                cursor: no-drop;
            }
        }
    }
}