@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.admin{
    display: grid;
    font-family: 'Montserrat', sans-serif;

    tr{
        display: flex;
        th, td{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 1rem;
            font-size: 1rem;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }
        .id{
            width: .6rem;
        }
        .name{
            width: 10rem;
        }
        .descr {
            width: 35rem;
        }
        .img{
            width: 16rem;
        }
        .price {
            width: 3rem;
        }
        .stock{
            width: 3rem;
        }
        .categories{
            width: 10rem;
        }
        .btnsCRUD{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: .5rem;
            border: #e3e3e3 1px solid;
            button{
                width: 10rem;
                font-size: 1.2rem;
                margin: .5rem;
                border-radius: .5rem;
                border: #e3e3e3 1px solid;
                cursor: pointer;
                box-shadow: 0 0 0 #3e3e3e;
                transition: box-shadow 250ms;
                overflow: hidden;
                &:hover{
                    box-shadow: 0 0 0.25rem #3e3e3e;
                }
            }
            .addCategory{
                background-color: orange;
                color: #ffffff;
            }
            .edit{
                background-color: paleturquoise;
                color: #ffffff;
            }
            .danger{
                background-color: red;
                color: #ffffff;
            }
        }
    }
}
.btnAdd{
    display: flex;
    justify-content: center;
    background-color: rgb(209, 255, 209);
    
    button{
        margin: 2rem;
        background-color: rgb(209, 255, 255);
        border-radius: .5rem;
        cursor: pointer;
        &:hover{
            background-color: #ffffff;
            color: black;
        }
    }
}

.modal-bg-inactive {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    .modal {
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        button {
            padding: 10px 30px;
            background-color: #2980b9;
            color: white;
            border: none;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
    }
}
.modal-bg-active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s;
    .modal {
        background-color: white;
        font-family: 'Montserrat', sans-serif;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        button {
            padding: 10px 30px;
            background-color: #2980b9;
            color: white;
            border: none;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
    }
}