.searchBar-active{
    ::-webkit-input-placeholder{
        display: flex;
        font-size: 1.2rem;
        text-align: center;
    }
    .input{
        border-radius: 0 1rem;
        width: 20rem;
    }
    .btnSearch{
        border-radius: 6px 0px;
        font-size: 10px;
        padding: 5px 5px;
        background-color: #2980b9;
        color: white;
        border: none;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: orange;
        }
    }
}
.searchBar-inactive {
    display: none;
}

