.searchBar-active{
    .btnSearch{
        cursor: pointer;
        &:hover{
            background-color: orange;
            color: #ffffff;
        }
    }
}
.searchBar-inactive {
    display: none;
}