.filterCnt{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    border-bottom: .1rem gray solid;
    .selectFilter{
        cursor: pointer;
        &:hover {
            border: solid black .13rem;
        }
    }
    .buttonCart{
        border-radius: 1.5rem;
        padding: 10px 30px;
        background-color: #2980b9;
        color: white;
        border: none;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: rgb(112, 95, 0);
        }
    }
}