.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    grid-area: footer;
    font-family: 'Kaushan Script', cursive;   
    height: 42px;
}