@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #203040;
    color: #ffffff;
    grid-area: header;
    height: 65px;
    transition: all 500ms ease-in-out;
    h3{
        &:hover {
            color: orange;
        }
    }
    .link{
        text-decoration: none;
        color: #ffffff;
        button{
            font-family: 'Archivo Narrow', sans-serif;
            cursor: pointer;
            border-radius: 1rem;
            border: .1rem solid #e3e3e3;
            &:hover {
                background-color: #ffffff;
                color: black;
            }
        }
    }
    .adds{
        display: flex;
        justify-content: center;
        img{
            width: 5rem;
            cursor: pointer;
            border-radius: 4rem;
        }
        button{
            cursor: pointer;
            background-color: transparent;
            color: #ffffff;
            border: 0;
            font-size: 2rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .userGuest-false{
            display: none;
        }
        .userGuest-true{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 6.5rem;
            background-color: #368F92;
            width: 15%;
            min-height: 20rem;
            border-radius: 2rem;
            transition: all 500ms ease-in-out;
            overflow: hidden;
            .link{
                width: 100%;
                button{
                    width: 100%;
                    background-color: transparent;
                    border: 0;
                    color: #ffffff;
                    padding: .8rem;
                    transition: all 300ms;
                    &:hover{
                        box-shadow: 0 0 0.25rem #bebebe;
                        background-color: #368F63;
                    }
                }
            }
        }
        .user-false{
            display: none;
        }
        .user-true{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: absolute;
            top: 6.5rem;
            background-color: #368F92;
            width: 15%;
            min-height: 30rem;
            border-radius: 2rem;
            transition: all 500ms ease-in-out;
            overflow: hidden;
            .link{
                width: 90%;
                border-bottom: .1rem solid #126a6d;
                padding-bottom: 1rem;
                .admin-btn{
                    width: 100%;
                    padding: .5rem;
                    transition: 400ms;
                    &:hover{
                        box-shadow: 0 5px 8px 0 rgba(141, 141, 141, 0.2), 0 7px 20px 0 rgba(165, 165, 165, 0.15);
                        background-color: #368F63;
                    } 
                }
                .profile{
                    padding: .5rem;
                    width: 100%;  
                    transition: 400ms;
                    &:hover{
                        box-shadow: 0 5px 8px 0 rgba(141, 141, 141, 0.2), 0 7px 20px 0 rgba(165, 165, 165, 0.15);
                        background-color: #368F63;
                    }  
                }
            }
            .logout{
                cursor: pointer;
                width: 90%;
                border-radius: 2rem;
                background-color: rgb(255, 110, 110);
                padding: .6rem;
                transition: 500ms;
                &:hover{
                    box-shadow: 0 5px 8px 0 rgba(46, 46, 46, 0.2), 0 7px 20px 0 rgba(42, 42, 42, 0.15);
                    background-color: rgb(255, 52, 52);
                }   
            }
            .logout-false{
                display: none;
            }
            .logout-true{
                position: absolute;
                z-index: 1;
                background-color: #368F92;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 90%;
                div{
                    display: flex;
                    justify-content: space-evenly;
                    .no{
                        padding: .8rem;
                        border: 0;
                        background-color: #5c0000;
                        width: 35%;
                        border-radius: 2rem;
                        transition: 500ms;
                        &:hover{
                            box-shadow: 0 5px 8px 0 rgba(46, 46, 46, 0.2), 0 7px 20px 0 rgba(42, 42, 42, 0.15);
                            background-color: #700000;
                        }
                    }
                    .yes{
                        padding: .7rem;
                        border: 0;
                        width: 35%;
                        background-color: #b10000;
                        border-radius: 2rem;
                        &:hover{
                            transition: 500ms;
                            box-shadow: 0 5px 8px 0 rgba(46, 46, 46, 0.2), 0 7px 20px 0 rgba(42, 42, 42, 0.15);
                            background-color: #d40000;
                        }
                    }
                }
            }
        }
    }
}