@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

.removeCnt-false{
    display: none;
}

.removeCnt-true{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    .removeBox{
        width: 55%;
        background-color: #f4f4f4;
        margin: 15% auto;
        padding: 1rem;
        box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.15);
        .closeBtn{
            color: red;
            border: 0;
            float: right;
            font-size: 1.8rem;
            &:hover{
                cursor: pointer;
                color: #000000;   
            }
            &:focus{
                text-decoration: none;
            }
        }
        p{
            margin-bottom: 3rem;
            text-decoration: underline;
        }
        .infoCategories{
            display: flex;
            width: 70%;
            font-size: 2rem;
            justify-content: center;
            select{
                width: 70%;
                cursor: pointer;
                margin-bottom: 3rem;
            }
        }
        .buttons{
            display: flex;
            text-align: center;
            width: 100%;
            justify-content: space-evenly;
            color: white;
            border: none;
            font-family: 'Montserrat', sans-serif;
            button{
                border-radius: 1rem;
                width: 15rem;
                padding: 1rem;
                margin-bottom: 1.3rem;
                &:hover{
                    cursor: pointer;
                }
            }
            .no{
                background-color: #5f5f5f;
                &:hover{
                    box-shadow: 0 0 0 0.05rem;
                    transition: 200ms;
                    background-color: #3e3e3e;
                }
            }
            .yes{
                background-color: #e3e3e3;
                &:hover{
                    box-shadow: 0 0 0 0.02rem;
                    transition: 260ms;
                    background-color: #b3b3b3;
                }
            }
        }
    }
}